* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", Arial, sans-serif;
    background-color: #faf7f2;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #3b1f14;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    max-width: 1600px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #f4d7b6;
    font-size: 25px;
    font-weight: 600;
    margin-left: 50px;
}

nav a {
    text-decoration: none;
    color: #f4d7b6;
    margin-right: 15px;
    font-size: 15px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffffff;
}


.intro {
    height: 75vh;
    position: relative;
    overflow: hidden;
}

.slide-image{
    display: flex;
    width: 200%;
    height: 100%;
    transition: transform 2s ease-in-out;

}
.image{
    width: 33.33%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.image1{
    background-image: url('images/p3.jpg');
}
.image2{
    background-image: url('images/p2.jpg');
}
.image3{
    background-image: url('images/p1.jpg');
}

.intro:hover .slide-image {
    transform: translateX(-50%);
}

.intro-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: #000000;
}

.intro-content h2 {
    font-size: 48px;
    margin-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.intro-content p {
    font-size: 18px;
    max-width: 600px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.categories{
    max-width: 1200px;
    margin: 40px auto 100px;
    margin-top: 0px;
    padding: 0 20px;
}

.cat-title, .about-title {
    text-align: center;
    font-size: 38px;
    margin-bottom: 30px;
    color: #3b1f14;
    flex: 1;
}

.about-section{
    margin: 0px 50px ;
    padding: 40px;
    margin-top: 0px;
}

.about-area{
    display: flex;
    align-items: center;
    gap: 60px;
}

.about-title h2{
    font-size: 38px;
    margin-bottom: 30px;
    color: #3b1f14;
}

.about-title p {
    font-size: 17px;
    color: #444;
    margin-bottom: 5px;
    text-align: justify;
}

.about-images {
    position: relative;
    width: 480px;
    height: 300px;
    perspective: 1000px;
}

.about-images img{
    position: absolute;
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.2);
}

.one{
    top: 20px;
    left: 10px;
    transform: rotate(-4deg);
}
.two {
    top: -10px;
    left: 90px;
    transform: rotate(7deg);
}

.three {
    top: 60px;
    left: 60px;
    transform: rotate(-3deg);
}

.four {
    top: 40px;
    left: 160px;
    transform: rotate(18deg);
}

.five {
    top: 110px;
    left: 130px;
    transform: rotate(-9deg);
}

.cat-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.card {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}

.card-body{
    padding: 20px;
    text-align: center;
}

.card-body h3{
    margin-bottom: 10px;
}

.card-body a {
    font-weight: 600;
    color: #3b1f14;
    text-decoration: none;
}

.card p {
    font-size: 15px;
    color: #555;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}


footer {
    background-color: #3b1f14;
    color: #f4d7b6;
    padding: 25px 20px 15px;
}

.footer-container {
    max-width: 1300px;
    margin: 20px 40px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.footer-container h3, .footer-container h4 {
    margin-bottom: 10px;
    color: #ffffff;
}


.footer-brand p {
    font-size: 14px;
}


.footer-links a {
    display: block;
    text-decoration: none;
    color: #f4d7b6;
    margin-bottom: 8px;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-contact p {
    font-size: 14px;
    margin-bottom: 8px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
    color: #e5c7a8;
}


@media screen and (max-width: 768px) {
    .intro-content h2 {
        font-size: 34px;
    }
    
    nav a {
        margin-left: 10px;
        font-size: 14px;
    }
}

@media screen and (max-width: 900px){
    .about-area{
        flex-direction: column;
        text-align: center;
    }
    
    .about-images{
        margin-top: 60px;
    }
}

@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
}

